@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  color: #ffffff;
  background-color: #ebf2f5;
  -webkit-font-smoothing: antialiased !important;
}

body,
input,
button,
textarea {
  font: 600 18px Nunito, sans-serif;
}
